<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-Light.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
	</dict>
</dict>
</plist>
